<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="POST" th:action="@{/users/update}" th:object="${user}">
    <label for="id">ID(генерируется за вас): </label>
    <input type="text" th:field="*{id}" id="id" readonly="readonly"/>
    <br/>
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{firstname}" id="name"/>
    <br/>
    <label for="lastname">Введите фамилию: </label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <br/>
    <label for="age">Введите возраст: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/><br>
    <input type="submit" value="Изменить"/>
</form>

<br>
<form th:method="POST" th:action="*{user.getIdByDelete()}">
    <input type="submit" value="Удалить"/>
</form>
<br>

<a href="/users">перейти к списку пользователей</a>

</body>
</html>